@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-12" style="min-height: 550px">
    <h2>Domovská stránka</h2>
    <button class="btn-lg btn-info" onclick="location.replace('/Movies')">Filmy</button>
    <button class="btn-lg btn-info" onclick="location.replace('/People')">Osobnosti</button>
    <button class="btn-lg btn-info" onclick="location.replace('/User')">Uživatelé</button>
</div>
