@model List<MovieViewModel>

<div class="col-xs-12" style="min-height: 550px">
    <h2>Seznam filmů v databázi</h2>
    <table>
        @foreach (MovieViewModel m in Model)
        {
            <tr>
                <td class="col-md-3"><b>@Html.Raw(m.Title)</b></td>
                <td class="col-md-3">@Html.Raw(m.GenreText)</td>
                <td class="col-md-3"><a href="/Movies/Detail/@m.Id" class="btn btn-success">Zobrazit</a></td>
            </tr>
        }
    </table>
</div>
