@model ListItems

<div class="col-xs-12" style="min-height: 550px">
    <h3>Seznam žánrů</h3>
    <div class="col-md-12" style="margin-top: 20px">
        <div class="row">
            <div class="col-xs-6 col-sm-1" style="text-align: right">
                @Html.LabelFor(x => x.Addable.Content)
            </div>
            @Html.EditorFor(x => x.Addable.Content)
        </div>
        <div class="col-xs-6 col-sm-1"></div>
        <div class="row">
            <button onclick="add()" class="btn btn-success" style="margin-top: 10px">Přidat</button>
        </div>
        <hr />
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-10">
        @Html.Partial("ListItem", Model.Genres)
    </div>
    <div class="col-md-1"></div>
    <div class="row"></div>

</div>
<script>
    function add() {
        $.post("/List/_AddItem", { model: { item: 0, content: $("#Addable_Content").val() } });
        $("#genres tr:last").after('<tr><td>' + $("#Addable_Content").val() + '</td><td>Nový záznam</td></tr>');
    }
</script>