
<div class="col-xs-12" style="min-height: 550px">
    <h2>Ztracené heslo</h2>
    <div style="text-align:center">
        <b>Uživatelské jméno</b>&nbsp;<input type="text" id="Username" /> <br />
        <button class="btn btn-info" onclick="getQuestion()" style="margin-top: 5px">Odeslat</button>
    </div>
</div>

<script>

    function getQuestion() {
        location.replace("/User/ForgottenPasswordRecovery?username=" + $("#Username").val());
    }

</script>