@model PasswordRecoveryModel


<div class="col-xs-12" style="min-height: 550px">
    <h2>Ztracené heslo</h2>
    <div style="text-align:center" id="resetForm">
        @if (Model != null)
        {
            Html.HiddenFor(x => x.UserId);
            <h4>@Model.Question</h4>
            <b>Odpověď</b>Html.Raw("&nbsp;");<input type="text" id="Answer" /> <br />
            <button class="btn btn-info" onclick="resetPassword()" style="margin-top: 5px">Odeslat</button>
            <p id="ans"></p>
        }
        else
        {
            <h4>Uživatel nebyl nalezen</h4>
        }
    </div>
</div>

@if (Model != null)
{
    <script>
    function resetPassword() {

        $.post("/User/ResetPassword", { userId: @Model.UserId, answer: $("#Answer").val() }, function (response) {
            $("#ans").remove();
            if (response != "Špatná odpověď")
                $("#resetForm").append("<p id='ans'><b>Nové heslo:</b>&nbsp;" + response + "</p>");
            else
                $("#resetForm").append("<p id='ans'><b>" + response + "</b></p>");
        });

    }
    </script>
}
