@model List<PersonViewModel>

<div class="col-xs-12" style="min-height: 550px">
    <h2>Seznam osobností v databázi</h2>
    <table>
        @foreach (PersonViewModel p in Model)
        {
            <tr>
                <td class="col-md-3 col-xs-3">@Html.Raw(p.Firstname)&nbsp;@Html.Raw(p.Lastname)</td>
                <td class="col-md-3 col-xs-3"><a href="/People/Detail/@p.Id" class="btn btn-success">Zobrazit</a></td>
            </tr>
        }
    </table>
</div>
